header {
  width: 100%;
  background-color: #ffa813;
  padding: 25px;
  color: #131313;
  position: fixed;
}

@media (max-width: 2800px) {
  .top-padding {
    padding-top: 150px;
  }
}

@media (max-width: 1213px) {
  .top-padding {
    padding-top: 200px;
  }
}

@media (max-width: 746px) {
  .top-padding {
    padding-top: 250px;
  }
}

@media (max-width: 500px) {
  .top-padding {
    padding-top: 300px;
  }
}

.container {
  color: #ffa813;
}

.centerize {
  margin: auto;
}

.product-container {
  width: 100%;
}

.product-price {
  color: #c27413;
  font-size: 12px;
}

.cryptobox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.square, .square-full {
  width: 75px;
  height: 75px;
  margin: 5px;
  flex: 0 0 auto;
}

.square-full {
  background-color: #ffa813;
}

input, select, option {
  background-color: #131313;
  color: white;
  font-weight: bold;
  border: 0px;
}



